.main {

    width: 100%;
    height: 29rem;
    margin: 0rem;
    display: flex;
    
}

.intro-right,
.intro-left {
    height: 100%;
    width: 50%;
    
    padding: 1rem;
    background-color: rgb(254, 250, 233);
    
}

.intro-right {
    width: 80%;
}

.intro-right {
    display: flex;
    gap: 6rem;
    justify-content: center;
}

.intro-right img {

    width: 17rem;
    height: 24rem;
    border-radius: 7rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.pasta-img {
    margin-top: 4rem;
}

.intro-text {
    padding-left: 25%;
    padding-top: 10%;
    color:rgb(67, 67, 67);
}

#first-p,
#second-p {
    font-size: 2.5rem;

}

#second-p {
    margin-top: -0.6rem;

}

#order-now {
    font-size: 1.3rem;
    margin-top: 0.8rem;
}

