.menu{
    margin: 3rem;
    text-align: center;
}
.accordion{
    width:50%;
    height:auto;
    padding:2rem;
    border: 2px solid rgb(144, 143, 143);
    margin-left:25%;
    margin-bottom: 1.5rem;
    text-align: left;
    border-radius: 0.5rem;
    background-color: rgb(245, 239, 228);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.acc-head{
    font-size: 1.3rem;
}

.data-item{
    border-bottom: 1px solid rgb(104, 103, 103);  
    display:flex; 
    justify-content: space-between;
   
}
.item-img{
  
    width:25%;
}
.item-img p{
    width:5rem;
    border:1px solid grey;
   
   font-size: 0.9rem;
   padding:2px;
    position: relative;
    top:2rem;
   z-index:3;
   background-color: rgb(127, 255, 63);
}
.item-img img{
    width:8rem;
    height:7rem;
    padding: 0.8rem;
    
   
}

.item{
    padding:1rem;
    width:80%;
    
}
.item p:first-child{
    font-size: 0.95rem;;
   font-weight: 600;
   height:1.8rem;
   color:rgb(57, 57, 57)
}
.item p:nth-child(2){
    
    font-size: 0.9rem;
   
}


